/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 7fr 2fr;
      grid-template-columns: 3fr 7fr 2fr;
  -ms-flex-preferred-size: 10vh;
      flex-basis: 10vh;
}

.settings {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/ span 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-right: 2vw;
  background-color: #cccccc;
}

.settings__logo {
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
}

.settings__photo {
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.settings--background {
  background-color: white;
}

.navigation {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ span 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  margin-right: 2vw;
  padding-left: 2vw;
  margin-right: 2vw;
}

.navigation__logo {
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
}

.navigation__photo {
  width: 50%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.car-wrapper {
  background-image: url("../assets/tlo_4.png");
  background-size: cover;
  background-position: center;
  -ms-flex-preferred-size: 68vh;
      flex-basis: 68vh;
  width: 100vw;
  position: relative;
  margin-left: auto;
}

.car-menu {
  height: 60vh;
  left: 0;
  top: 0;
  width: 12vw;
  position: absolute;
}

.car-menu__model-list {
  width: 12vw;
  overflow: scroll;
}

.car-menu__color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12vw;
  overflow: scroll;
}

.car-menu__model-li {
  width: 100%;
}

.car-menu__color-li {
  width: 100%;
}

.car-menu__model-li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.car-menu__color-li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.car-menu__li {
  width: 100%;
}

.car-menu__li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  padding-left: -10vw;
}

.car--size {
  --d: 4;
  /* diameter of wheels. Doesn't matter what units - just use the same units for all these measurements*/
  --lf: 6.38;
  /* distance from left edge of the image to center of front wheel  */
  --rb: 7.5;
  /* distance from right edge of the image to center of back wheel */
  --bf: 2.45;
  /* distance from bottom of image to center of front wheel */
  --bb: 2.45;
  /* distance from bottom of image to center of back wheel */
  --w: 30;
  /* width of the image */
  --h: 11;
  /* height of the image */
}

.car--size-default {
  --d: 4;
  /* diameter of wheels. Doesn't matter what units - just use the same units for all these measurements*/
  --lf: 6.38;
  /* distance from left edge of the image to center of front wheel  */
  --rb: 7.5;
  /* distance from right edge of the image to center of back wheel */
  --bf: 2.45;
  /* distance from bottom of image to center of front wheel */
  --bb: 2.45;
  /* distance from bottom of image to center of back wheel */
  --w: 30;
  /* width of the image */
  --h: 11;
  /* height of the image */
}

.car--size-mercedes {
  --d: 4;
  /* diameter of wheels. Doesn't matter what units - just use the same units for all these measurements*/
  --lf: 6.38;
  /* distance from left edge of the image to center of front wheel  */
  --rb: 8.55;
  /* distance from right edge of the image to center of back wheel */
  --bf: 2.45;
  /* distance from bottom of image to center of front wheel */
  --bb: 2.45;
  /* distance from bottom of image to center of back wheel */
  --w: 30;
  /* width of the image */
  --h: 11;
  /* height of the image */
}

.car--size-range {
  --d: 4.4;
  /* diameter of wheels. Doesn't matter what units - just use the same units for all these measurements*/
  --lf: 6.38;
  /* distance from left edge of the image to center of front wheel  */
  --rb: 8.33;
  /* distance from right edge of the image to center of back wheel */
  --bf: 2.45;
  /* distance from bottom of image to center of front wheel */
  --bb: 2.45;
  /* distance from bottom of image to center of back wheel */
  --w: 30;
  /* width of the image */
  --h: 11;
  /* height of the image */
}

.car--size-vw {
  --d: 4;
  /* diameter of wheels. Doesn't matter what units - just use the same units for all these measurements*/
  --lf: 6.38;
  /* distance from left edge of the image to center of front wheel  */
  --rb: 7.1;
  /* distance from right edge of the image to center of back wheel */
  --bf: 2.45;
  /* distance from bottom of image to center of front wheel */
  --bb: 2.45;
  /* distance from bottom of image to center of back wheel */
  --w: 30;
  /* width of the image */
  --h: 11;
  /* height of the image */
}

.car--size-fiat {
  --d: 3.3;
  /* diameter of wheels. Doesn't matter what units - just use the same units for all these measurements*/
  --lf: 6.38;
  /* distance from left edge of the image to center of front wheel  */
  --rb: 9.65;
  /* distance from right edge of the image to center of back wheel */
  --bf: 2.35;
  /* distance from bottom of image to center of front wheel */
  --bb: 2.35;
  /* distance from bottom of image to center of back wheel */
  --w: 30;
  /* width of the image */
  --h: 11;
  /* height of the image */
}

.car--size-van {
  --d: 2.9;
  /* diameter of wheels. Doesn't matter what units - just use the same units for all these measurements*/
  --lf: 5.95;
  /* distance from left edge of the image to center of front wheel  */
  --rb: 8.53;
  /* distance from right edge of the image to center of back wheel */
  --bf: 2.15;
  /* distance from bottom of image to center of front wheel */
  --bb: 2.15;
  /* distance from bottom of image to center of back wheel */
  --w: 30;
  /* width of the image */
  --h: 11;
  /* height of the image */
}

.car--size-bus {
  --d: 2;
  /* diameter of wheels. Doesn't matter what units - just use the same units for all these measurements*/
  --lf: 6.42;
  /* distance from left edge of the image to center of front wheel  */
  --rb: 9.5;
  /* distance from right edge of the image to center of back wheel */
  --bf: 1.5;
  /* distance from bottom of image to center of front wheel */
  --bb: 1.5;
  /* distance from bottom of image to center of back wheel */
  --w: 30;
  /* width of the image */
  --h: 11;
  /* height of the image */
}

.car--size-truck {
  --d: 2.2;
  /* diameter of wheels. Doesn't matter what units - just use the same units for all these measurements*/
  --lf: 8.625;
  /* distance from left edge of the image to center of front wheel  */
  --rb: 12.45;
  /* distance from right edge of the image to center of back wheel */
  --bf: 1.55;
  /* distance from bottom of image to center of front wheel */
  --bb: 1.55;
  /* distance from bottom of image to center of back wheel */
  --w: 30;
  /* width of the image */
  --h: 11;
  /* height of the image */
}

.car__hubcap {
  position: absolute;
  width: calc((var(--d) / var(--w)) * 100%);
  height: calc((var(--d) / var(--h)) * 100%);
  background-image: url("../assets/kolpaki_bez_opon/4racing/le_mans_pro_pink_black.png");
  background-position: center;
  background-size: cover;
  border-style: solid;
}

.car--hubcap-front {
  bottom: calc((var(--bf) / var(--h)) * 100%);
  left: calc((var(--lf) / var(--w)) * 100%);
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
}

.car--hubcap-back {
  bottom: calc((var(--bb) / var(--h)) * 100%);
  right: calc((var(--rb) / var(--w)) * 100%);
  -webkit-transform: translateX(50%) translateY(50%);
          transform: translateX(50%) translateY(50%);
}

.car__img {
  margin: 0 auto;
  width: 100%;
}

.logo {
  position: absolute;
  width: 10vw;
  top: 0;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.background-menu {
  position: absolute;
  bottom: 0;
  right: 0;
}

.background-menu__element img {
  width: 5vw;
}

.is-hidden {
  display: none;
  z-index: -1;
}

.visibility {
  visibility: hidden;
}

/* &__logo{
    display: inline-grid;
     place-items: center;
     

}
&__photo{
    width: 50%;
    height: 100%;
    object-fit: contain;
} */
.splide {
  margin-left: 5vw;
  margin-right: 5vw;
  height: 20vh;
}

.splide__slide {
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  width: 100%;
}

.splide img {
  width: 100%;
  height: 15vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.splide__arrow--prev {
  margin-left: -2.5vw;
}

.splide__arrow--next {
  margin-right: -2.5vw;
}

.splide__header {
  font-size: .5rem;
  text-transform: uppercase;
  margin-top: 1vh;
  margin-bottom: .5vh;
  font-weight: 700;
}

@media (min-width: 1000px) {
  .splide__header {
    font-size: .75rem;
  }
}

.splide__sub-header {
  font-size: .5rem;
  margin-bottom: .5vh;
}

@media (min-width: 1000px) {
  .splide__sub-header {
    font-size: .75rem;
  }
}

.header {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

ul.splide__pagination {
  display: none;
}

.visiblity {
  visibility: hidden;
}

.info {
  -ms-flex-preferred-size: 18vh;
      flex-basis: 18vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 57.12vw 14.28vw 28.56vw;
      grid-template-columns: 57.12vw 14.28vw 28.56vw;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.info__logo-wrapper {
  background: #cecece;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  width: 100%;
}

.info__logo {
  height: 100%;
  width: 100%;
  padding: 0 2vw;
}

.description {
  /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    text-transform: uppercase;
    align-items: center; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.description--flex {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__header {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: grey;
  font-size: 1.25rem;
}

@media (min-width: 1000px) {
  .description__header {
    font-size: 1.75rem;
  }
}

.description__color {
  font-size: .75rem;
}

@media (min-width: 1000px) {
  .description__color {
    font-size: 1.25rem;
  }
}

.description__size {
  font-weight: 700;
  font-size: 1rem;
  color: black;
}

@media (min-width: 1000px) {
  .description__size {
    font-size: 1.5rem;
  }
}

.description--background {
  background-color: #ebebeb;
}

.footer {
  -ms-flex-preferred-size: 2vh;
      flex-basis: 2vh;
  font-size: .6rem;
  font-family: 'Lato', sans-serif;
  text-align: right;
  margin-right: 1rem;
}

.footer__name {
  color: #DB004E;
}

.footer__surname {
  color: #23527c;
}
/*# sourceMappingURL=style.css.map */