/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.preload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #10131a;
  -webkit-transition: opacity 400ms ease-in-out, visibility 0s 400ms;
  transition: opacity 400ms ease-in-out, visibility 0s 400ms;
}

.show-preloader {
  visibility: visible;
  opacity: 1;
}

.circle {
  background-color: #f9dc97;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: bounce-circles 0.7s infinite ease-in-out;
          animation: bounce-circles 0.7s infinite ease-in-out;
}

.preload .circle:nth-child(1) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

.preload .circle:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.preload .circle:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

.preload .circle:nth-child(4) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

@-webkit-keyframes bounce-circles {
  0%, 40%, 100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes bounce-circles {
  0%, 40%, 100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vh 68vh 20vh 2vh;
      grid-template-rows: 10vh 68vh 20vh 2vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.settings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(35px, 1fr));
  margin-right: 2vw;
  background-color: #cccccc;
  height: 100%;
}

.settings__logo {
  padding-right: 2vw;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.settings__photo {
  margin-right: -2vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 80%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.settings--cursor {
  cursor: auto;
}

.settings--background {
  background-color: white;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(60px, 1fr));
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  margin-right: 2vw;
  height: 100%;
  padding-left: 2vw;
  margin-right: 2vw;
}

.navigation > ul {
  height: 100%;
}

.navigation > ul > li {
  height: 100%;
}

.navigation__logo {
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
}

.navigation__photo {
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  width: 70%;
  padding: 5px 0;
  height: 10vh;
}

@media (max-width: 650px) {
  .navigation--active {
    background-color: #bcbcbc;
  }
}

/* .logo{
    width: 10vw;
    display: inline-grid;
    place-items: center;
    margin-bottom: -100px;
    overflow: visible !important;
  }
  .logo--wrapper{
    display: inline-grid;
    place-items: center;
  } */
.settings--active {
  background-color: #bcbcbc;
}

.car-wrapper {
  background-image: url("../assets/tlo_4.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  margin-left: auto;
}

.car-menu {
  height: 100%;
  left: 0;
  top: 0;
  width: 12vw;
  position: absolute;
}

.car-menu__model-list {
  width: 12vw;
  min-width: 75px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #dddddd;
}

.car-menu__color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12vw;
  min-width: 75px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #dddddd;
}

.car-menu__li {
  width: 100%;
  cursor: pointer;
}

.car-menu__li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  max-width: 1800px;
}

.car--size {
  --d: 3.3;
  /* diameter of wheels. Doesn't matter what units - just use the same units for all these measurements*/
  --lf: 5.13;
  /* distance from left edge of the image to center of front wheel  */
  --rb: 6;
  /* distance from right edge of the image to center of back wheel */
  --bf: 1.7;
  /* distance from bottom of image to center of front wheel */
  --bb: 1.8;
  /* distance from bottom of image to center of back wheel */
  --w: 24;
  /* width of the image */
  --h: 8;
  /* height of the image */
}

.car--size-default {
  --d: 3.3;
  --lf: 5.13;
  --rb: 6;
  --bf: 1.7;
  --bb: 1.8;
  --w: 24;
  --h: 8;
}

.car--size-mazda {
  --d: 3.3;
  --lf: 5.13;
  --rb: 6;
  --bf: 1.7;
  --bb: 1.7;
  --w: 24;
  --h: 8;
}

.car--size-mercedes {
  --d: 3.3;
  --lf: 5.1;
  --rb: 6.9;
  --bf: 1.7;
  --bb: 1.7;
  --w: 24;
  --h: 8;
}

.car--size-range {
  --d: 3.6;
  --lf: 5.15;
  --rb: 6.65;
  --bf: 1.9;
  --bb: 1.9;
  --w: 24;
  --h: 8;
}

.car--size-vw {
  --d: 3.3;
  --lf: 5.13;
  --rb: 5.7;
  --bf: 1.75;
  --bb: 1.7;
  --w: 24;
  --h: 8;
}

.car--size-fiat {
  --d: 3.1;
  --lf: 5.05;
  --rb: 7.75;
  --bf: 1.6;
  --bb: 1.7;
  --w: 24;
  --h: 8;
}

.car--size-van {
  --d: 2.9;
  --lf: 4.75;
  --rb: 6.8;
  --bf: 1.6;
  --bb: 1.55;
  --w: 24;
  --h: 8;
}

.car--size-mini-bus {
  --d: 3;
  --lf: 4.6;
  --rb: 6.85;
  --bf: 1.6;
  --bb: 1.55;
  --w: 24;
  --h: 8;
}

.car--size-bus {
  --d: 2;
  --lf: 5.2;
  --rb: 7.6;
  --bf: 1.1;
  --bb: 1.1;
  --w: 24;
  --h: 8;
}

.car--size-truck {
  --d: 2;
  --lf: 6.9;
  --rb: 10;
  --bf: 1.15;
  --bb: 1.15;
  --w: 24;
  --h: 8;
}

.car__hubcap {
  position: absolute;
  width: calc((var(--d) / var(--w)) * 100%);
  height: calc((var(--d) / var(--h)) * 100%);
  background-image: url("../assets/kolpaki/argo/1_avalon_carbon.webp");
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-size: cover;
  border-style: solid;
}

.car--hubcap-front {
  bottom: calc((var(--bf) / var(--h)) * 100%);
  left: calc((var(--lf) / var(--w)) * 100%);
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
}

.car--hubcap-back {
  bottom: calc((var(--bb) / var(--h)) * 100%);
  right: calc((var(--rb) / var(--w)) * 100%);
  -webkit-transform: translateX(50%) translateY(50%);
          transform: translateX(50%) translateY(50%);
}

.car__img {
  margin: 0 auto;
  width: 100%;
}

.logo {
  position: absolute;
  min-width: 80px;
  width: 10vw;
  top: 0;
  right: 0%;
  overflow: visible !important;
}

.background-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.background-menu__element img {
  min-width: 50px;
  width: 5vw;
  cursor: pointer;
}

.is-hidden {
  display: none !important;
  z-index: -1 !important;
}

.visibility {
  visibility: hidden;
}

.is-hidden .splide__arrows {
  visibility: hidden;
}

.splide {
  height: 100%;
}

.splide__track {
  height: 100%;
}

.splide__list {
  height: 100%;
}

.splide__wrapper {
  overflow: hidden;
  height: 100%;
  padding: 0 4vw;
}

.splide__slide {
  place-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2vh 2vh calc(16vh - 1vh - 10px);
      grid-template-rows: 2vh 2vh calc(16vh - 1vh - 10px);
  gap: 5px;
  width: 100%;
  height: 100%;
  padding: 1vh 5px 0 5px;
}

.splide img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}

.splide__arrow--prev {
  left: 1vw !important;
}

.splide__arrow--next {
  right: 1vw !important;
}

.splide__header {
  text-transform: uppercase;
  font-weight: 700;
  overflow-wrap: anywhere;
  height: 100%;
  white-space: nowrap;
}

.splide__header {
  font-size: 9px;
}

@media screen and (min-width: 620px) {
  .splide__header {
    font-size: calc( 9px + 3 * ((100vw - 620px) / 1300));
  }
}

@media screen and (min-width: 1920px) {
  .splide__header {
    font-size: 12px;
  }
}

.splide__sub-header {
  height: 100%;
  /*     @media (max-width: 1000px) {
      font-size: 0.7rem;
    } */
}

.splide__sub-header {
  font-size: 8.5px;
}

@media screen and (min-width: 620px) {
  .splide__sub-header {
    font-size: calc( 8.5px + 3 * ((100vw - 620px) / 1300));
  }
}

@media screen and (min-width: 1920px) {
  .splide__sub-header {
    font-size: 11.5px;
  }
}

.fa-plus-circle {
  cursor: pointer;
  position: absolute;
  bottom: 7%;
  right: 5%;
}

@media (min-width: 500px) {
  .fa-plus-circle {
    right: 5%;
  }
}

@media (min-width: 1200px) {
  .fa-plus-circle {
    font-size: 20px;
  }
}

.header {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

ul.splide__pagination {
  display: none;
}

.visiblity {
  visibility: hidden;
}

.selected {
  background-color: #ddd;
}

.info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 57.12vw 14.28vw 28.56vw;
      grid-template-columns: 57.12vw 14.28vw 28.56vw;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

@media (max-width: 650px) {
  .info {
    -ms-grid-columns: calc(57.12vw + 14.28vw) 28.56vw;
        grid-template-columns: calc(57.12vw + 14.28vw) 28.56vw;
  }
}

.info__logo-wrapper {
  background: #cecece;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
}

@media (max-width: 650px) {
  .info__logo-wrapper {
    display: none;
  }
}

.info__logo {
  width: 80%;
  padding: 0 2vw;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.description--flex {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__header {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: grey;
  /* font-size: 0.6rem;
    @media (min-width: 400px) {
      font-size: 0.75rem;
    }
    @media (min-width: 500px) {
      font-size: 1rem;
    }
    @media (min-width: 800px) {
      font-size: 1.25rem;
    }
    @media (min-width: 1000px) {
      font-size: 1.75rem;
    } */
}

.description__header {
  font-size: 10px;
}

@media screen and (min-width: 320px) {
  .description__header {
    font-size: calc( 10px + 18 * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  .description__header {
    font-size: 28px;
  }
}

.description__color {
  font-family: "Open Sans", sans-serif;
  /* font-size: 0.5rem;
    @media (min-width: 400px) {
      font-size: 0.65rem;
    }
    @media (min-width: 500px) {
      font-size: 0.9rem;
    }
    @media (min-width: 800px) {
      font-size: 1.15rem;
    }
    @media (min-width: 1000px) {
      font-size: 1.65rem;
    } */
}

.description__color {
  font-size: 7.5px;
}

@media screen and (min-width: 320px) {
  .description__color {
    font-size: calc( 7.5px + 16.5 * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  .description__color {
    font-size: 24px;
  }
}

.description__size {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: black;
  /* @media (min-width: 400px) {
      font-size: 0.75rem;
    }
    @media (min-width: 500px) {
      font-size: 1rem;
    }
    @media (min-width: 800px) {
      font-size: 1.25rem;
    }
    @media (min-width: 1000px) {
      font-size: 1.5rem;
    }*/
}

.description__size {
  font-size: 9px;
}

@media screen and (min-width: 320px) {
  .description__size {
    font-size: calc( 9px + 19 * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  .description__size {
    font-size: 28px;
  }
}

.description--background {
  background-color: #ebebeb;
}

.footer {
  height: 100%;
  letter-spacing: 0.1px;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1rem;
}

.footer {
  font-size: 8px;
}

@media screen and (min-width: 320px) {
  .footer {
    font-size: calc( 8px + 2 * ((100vw - 320px) / 1600));
  }
}

@media screen and (min-width: 1920px) {
  .footer {
    font-size: 10px;
  }
}

.footer__name {
  color: #db004e;
}

.footer__surname {
  color: #23527c !important;
}

.footer__surname > a {
  color: #23527c !important;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.fa-plus-circle {
  text-decoration: none;
  color: black;
}

.animation-wrapper {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  position: absolute;
}

.navigation--slide-in {
  -webkit-animation: navigation--slide-in 0.5s forwards;
          animation: navigation--slide-in 0.5s forwards;
}

.navigation--slide-out {
  -webkit-animation: navigation--slide-out 0.5s forwards;
          animation: navigation--slide-out 0.5s forwards;
}

.splide--slide-in {
  -webkit-animation: splide--slide-in 0.5s forwards;
          animation: splide--slide-in 0.5s forwards;
}

.splide--slide-out {
  -webkit-animation: splide--slide-out 0.5s forwards;
          animation: splide--slide-out 0.5s forwards;
}

.car-menu--slide-in {
  -webkit-animation: car--slide-in 0.5s forwards;
          animation: car--slide-in 0.5s forwards;
}

.car-menu--slide-out {
  -webkit-animation: car--slide-out 0.5s forwards;
          animation: car--slide-out 0.5s forwards;
}

.background--slide-in {
  -webkit-animation: background--slide-in 0.5s forwards;
          animation: background--slide-in 0.5s forwards;
}

.background--slide-out {
  -webkit-animation: background--slide-out 0.5s forwards;
          animation: background--slide-out 0.5s forwards;
}

.fade-in {
  -webkit-animation: fade-in 0.5s forwards;
          animation: fade-in 0.5s forwards;
}

.fade-out {
  -webkit-animation: fade-out 0.5s forwards;
          animation: fade-out 0.5s forwards;
}

.car-wrapper {
  overflow: hidden;
}

@-webkit-keyframes fade-in {
  from {
    background-color: white;
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes fade-in {
  from {
    background-color: white;
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes fade-out {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: white;
  }
}

@keyframes fade-out {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: white;
  }
}

@-webkit-keyframes background--slide-in {
  0% {
    padding-left: 0;
  }
  100% {
    padding-left: calc(10vw + 30px);
  }
}

@keyframes background--slide-in {
  0% {
    padding-left: 0;
  }
  100% {
    padding-left: calc(10vw + 30px);
  }
}

@-webkit-keyframes background--slide-out {
  0% {
    padding-left: calc(10vw + 30px);
  }
  100% {
    padding-left: 0;
  }
}

@keyframes background--slide-out {
  0% {
    padding-left: calc(10vw + 30px);
  }
  100% {
    padding-left: 0;
  }
}

@-webkit-keyframes splide--slide-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes splide--slide-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes splide--slide-out {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes splide--slide-out {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes navigation--slide-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes navigation--slide-in {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes navigation--slide-out {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes navigation--slide-out {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes car--slide-in {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes car--slide-in {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes car--slide-out {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes car--slide-out {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
/*# sourceMappingURL=style.css.map */