.animation-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.navigation {
  position: absolute;
}
.navigation--slide-in {
  animation: navigation--slide-in 0.5s forwards;
  // left: 100%;
}
.navigation--slide-out {
  animation: navigation--slide-out 0.5s forwards;
}
.splide--slide-in {
  animation: splide--slide-in 0.5s forwards;
  // left: 100%;
}
.splide--slide-out {
  animation: splide--slide-out 0.5s forwards;
}
.car-menu--slide-in {
  animation: car--slide-in 0.5s forwards;
}
.car-menu--slide-out {
  animation: car--slide-out 0.5s forwards;
}
.background--slide-in {
  animation: background--slide-in 0.5s forwards;
}
.background--slide-out {
  animation: background--slide-out 0.5s forwards;
}
.fade-in {
  animation: fade-in 0.5s forwards;
}
.fade-out {
  animation: fade-out 0.5s forwards;
}
.car-wrapper {
  overflow: hidden;
}
@keyframes fade-in {
  from {
    background-color: rgba(255, 255, 255, 1);
  }
  to {
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes fade-out {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: rgba(255, 255, 255, 1);
  }
}
@keyframes background--slide-in {
  0% {
    padding-left: 0;
  }
  100% {
    padding-left: calc(10vw + 30px);
  }
}
@keyframes background--slide-out {
  0% {
    padding-left: calc(10vw + 30px);
  }
  100% {
    padding-left: 0;
  }
}
@keyframes splide--slide-in {
  0% {
    transform: translateX(-100%);
    // margin-left: 0px;
  }
  100% {
    // margin-left: 100px;
    transform: translateX(0%);
  }
}
@keyframes splide--slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes navigation--slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes navigation--slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes car--slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes car--slide-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
