body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
nav{
    display: grid;
    grid-template-columns: 3fr 7fr 2fr;
    flex-basis: 10vh;
}
.settings{
    grid-column: 1/ span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-right: 2vw;
    background-color: #cccccc;
    height: 10vh;
    &__logo{
        display: inline-grid;
         place-items: center;
         
         

    }
    &__photo{
        width: 50%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
    }
    &--cursor{
        cursor: auto;
    }
        
    &--background{
        background-color: white;
    }
}
.navigation{
    grid-column: 2/ span 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-right: 2vw;
    height: 10vh;
    padding-left: 2vw;
    margin-right: 2vw;
    &__logo{
        display: inline-grid;
         place-items: center;
         
    }
    &__photo{
        width: 60%;
        height: 100%;
        object-fit: contain;
        cursor: pointer;
    }
}
/* .logo{
    width: 10vw;
    display: inline-grid;
    place-items: center;
    margin-bottom: -100px;
    overflow: visible !important;
  }
  .logo--wrapper{
    display: inline-grid;
    place-items: center;
  } */
.settings--active{
    background-color: #bcbcbc;
}

