@import "fluid";
.splide {
  //   margin-left: 5vw;
  //   margin-right: 5vw;
  height: 100%;
  &__track {
    height: 100%;
  }
  &__list {
    height: 100%;
  }
  &__wrapper {
    overflow: hidden;
    height: 100%;
    padding: 0 4vw;
  }
  &__slide {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 8fr;
    width: 100%;
    height: 100%;
    padding: 10px 5px 0 5px;
  }
  & img {
    padding-top: 5px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  &__arrow--prev {
    left: 1vw !important;
    // margin-left: -5vw;
  }
  &__arrow--next {
    right: 1vw !important;
    // margin-right: -5vw;
  }
  &__header {
    // font-size: 9.8px;
    // font-size: 0.75rem;
    @include fluid-type(320px, 1920px, 9.8px, 12px);
    flex-grow: 1;
    text-transform: uppercase;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    font-weight: 700;
    overflow-wrap: anywhere;
    height: 100%;
    // text-overflow: ellipsis;
    white-space: nowrap;
    // @media (max-width: 1000px) {
    //   font-size: 0.7rem;
    // }
  }
  &__sub-header {
    height: 100%;
    // font-size: 0.75rem;
    @include fluid-type(320px, 1920px, 9.8px, 12px);
    margin-bottom: 0.5vh;
    /*     @media (max-width: 1000px) {
      font-size: 0.7rem;
    } */
  }
}

.fa-plus-circle {
  cursor: pointer;
  position: absolute;
  bottom: 7%;
  right: 5%;
  @media (min-width: 500px) {
    right: 5%;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.header {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
ul.splide__pagination {
  display: none;
}
.visiblity {
  visibility: hidden;
}
.selected {
  background-color: #ddd;
}
