/* &__logo{
    display: inline-grid;
     place-items: center;
     

}
&__photo{
    width: 50%;
    height: 100%;
    object-fit: contain;
} */
.splide{
    margin-left: 5vw;
    margin-right: 5vw;
    height: 20vh;
    
    &__slide{
        display: inline-grid;
        place-items: center;  
        width: 100%;
    }

    & img{
        width: 100%;
        height: 15vh;
        object-fit: contain ;
        // object-position: center;
        // height: 20vh;
    }
    // &__slide__container{
    //     display: inline-grid;
    //  place-items: center;
    // }
    &__arrow--prev{
        margin-left: -2.5vw;
    }
    &__arrow--next{
        margin-right: -2.5vw;
    }
    &__header{
        font-size: .5rem;
        text-transform: uppercase;
        margin-top: 1vh;
        margin-bottom: .5vh;
        font-weight: 700;
        @media (min-width: 1000px) {
            font-size: .75rem;
        }
    }
    &__sub-header{
        font-size: .5rem;
        margin-bottom: .5vh;
        @media (min-width: 1000px) {
            font-size: .75rem;
        }
    }
    
    
}
.header{
    font-family: 'Lato', sans-serif;
    text-align: center;
    
}
ul.splide__pagination{
    display: none;
}
.visiblity{
    visibility: hidden;
}